lightgbm==4.5.0
scipy==1.14.1
ptyprocess==0.7.0
pip==24.0
comm==0.2.2
polars==1.7.0
smmap==5.0.1
tqdm==4.66.5
optuna-integration==4.0.0
gitdb==4.0.11
PyYAML==6.0.2
wandb==0.18.1
ipython==8.27.0
pure_eval==0.2.3
certifi==2024.8.30
ipykernel==6.29.5
cycler==0.12.1
scikit-learn==1.5.2
asttokens==2.4.1
packaging==24.1
typing_extensions==4.12.2
contourpy==1.3.0
prompt_toolkit==3.0.47
protobuf==5.28.2
MarkupSafe==2.1.5
debugpy==1.8.5
alembic==1.13.2
pyzmq==26.2.0
fonttools==4.53.1
seaborn==0.13.2
webencodings==0.5.1
docker-pycreds==0.4.0
sentry-sdk==2.14.0
executing==2.1.0
idna==3.8
kiwisolver==1.4.7
kaggle==1.6.17
colorlog==6.8.2
SQLAlchemy==2.0.35
optuna==4.0.0
python-slugify==8.0.4
wcwidth==0.2.13
click==8.1.7
pyparsing==3.1.4
six==1.16.0
traitlets==5.14.3
numpy==2.1.1
joblib==1.4.2
pexpect==4.9.0
pytz==2024.2
jupyter_client==8.6.2
greenlet==3.1.1
tornado==6.4.1
jupyter_core==5.7.2
requests==2.32.3
text-unidecode==1.3
setuptools==75.1.0
platformdirs==4.3.2
Pygments==2.18.0
GitPython==3.1.43
parso==0.8.4
stack-data==0.6.3
Mako==1.3.5
charset-normalizer==3.3.2
pandas==2.2.2
psutil==6.0.0
threadpoolctl==3.5.0
setproctitle==1.3.3
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
matplotlib==3.9.2
jedi==0.19.1
tzdata==2024.1
python-dateutil==2.9.0.post0
decorator==5.1.1
bleach==6.1.0
urllib3==2.2.2
pillow==10.4.0
